form(action='/sessions', method='post')
  label
    | Username (Email)
    input(type='text', name='user')
  label
    | Password (6 chars. min.)
    input(type='password', name='password')
  input(type='submit', name='Submit')
